/* Inter Bold */
@font-face {
    font-family: 'Inter';
    src: url('../src/assets/fonts/Inter-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
  
  /* Inter Semi Bold */
  @font-face {
    font-family: 'Inter';
    src: url('../src/assets/fonts/Inter-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
  
  /* Inter Medium */
  @font-face {
    font-family: 'Inter';
    src: url('../src/assets/fonts/Inter-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
  
  /* Inter Regular */
  @font-face {
    font-family: 'Inter';
    src: url('../src/assets/fonts/Inter-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
  
  /* Inter Light */
  @font-face {
    font-family: 'Inter';
    src: url('../src/assets/fonts/Inter-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

.panel header{
    border-bottom: 1px solid hsla(0, 0%, 100%, .08);
    background: hsla(0, 0%, 100%, .01);
}

.panel *,
.login *{
    font-family: Inter;
}

.panel-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 1rem;
}

.brand-box{
    display: flex;
    align-items: center;
}

.brand-box img{
    width: 2.3rem;
}

.admin-batch{
    background: #424248;
    padding: .7rem 1rem;
    border-radius: 1.4rem;
    text-transform: uppercase;
    font-size: .8rem;
    letter-spacing: 1px;
    margin-left: 2rem;
}

.panel-btn{
    padding: .7rem 1.2rem;
    background-color: #db1a5a;
    border-radius: .6rem;
    font-weight: 500;
}

.nav-content{
    display: flex;
    align-items: center;
}

#panel-intro .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.panel h2{
    font-size: 3rem;
}

#panel-intro{
    border-bottom: 1px solid hsl(0deg 0.10% 97.59% / 8%);
    background-color: #232323fc;
}

.panel main h2{
    font-size: 1rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-block: 2rem;
}

#panel-projects ul{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
    gap: 2rem;
}

#panel-projects li{
    padding: 2rem 2rem .8rem 2rem;
    border-radius: 1rem;
    border: 1px solid hsl(0deg 0.10% 97.59% / 8%);
}

#panel-projects h3{
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.1rem;
    z-index: 9;
}

#panel-projects li{
    display: flex;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
}

#panel-projects .icons-wrapper{
    display: flex;
    gap: 1rem;
    padding-top: 7rem;
}

#panel-projects .icons-wrapper a{
    padding: 1rem;
    border-radius: 50%;
    transition: .3s;
}

#panel-projects .icons-wrapper a:hover{
    background: #70707030!important;
}

#panel-projects .icons-wrapper svg{
    width: 1.6rem;
    stroke-width: 1.3px;
    display: flex;
}

.card-bg{
    position: absolute;
    right: -1rem;
    top: -1rem;
    position: absolute;
    left: -1rem;
    top: -1rem;
    z-index: 0;
    filter: blur(50px);
}

.card-bg div{
    width: 8rem;
    height: 8rem;
    border-radius: 50%;    
}

.grid-projects{
    margin-bottom: 60px;
}

/* Light MODE */

.light .card-bg div{
    filter: brightness(2);
}

.light .panel-nav img{
    filter: invert(1);
  }
  
.light .panel header{
    border-bottom: 1px solid hsl(0deg 0.03% 14.59% / 8%);
}

.light #panel-intro,
.light #panel-projects li{
    background-color: #e1e1e1fc;
}

.light input[type="text"]{
    background-color: #fff;
}

.light textarea, .light select, .light select option {
    background-color: #fff;
}

.light input[type="file"]{
    background-color: #fff;
}

.light button.btn-create:first-of-type{
    background-color: #f9f9f9;
    color: #fff;
}

.light button.btn-create.add {
    color: #fff !important;
}

.light button.btn-create:first-of-type:hover {
    background-color: #e2e2e2;
}

/* Create Project */

/* Estilos de los campos de entrada */
input,
textarea {
    background-color: #1e1e1e;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    margin: 10px 0px;
}

input::placeholder,
textarea::placeholder {
    color: #7f7f7f;
}

/* Estilos de los botones */
button.btn-create{
    padding: .7rem 1.2rem;
    background-color: #db1a5a;
    border-radius: .6rem;
    font-weight: 500;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

button.btn-create:hover {
    background-color: #db1a5a;
}

/* Estilos del botón "Cancel" */
button.btn-create:first-of-type {
    background-color: #4d4d4d;
}

button.btn-create:first-of-type:hover {
    background-color: #3b3b3b;
}

/* Estilos del icono "User ID" */
.user-id {
    color: #db1a5a;
    display: inline-block;
    font-size: 18px;
    margin-top: 10px;
}
/* Estilos para los select múltiples */
.multi-select {
    background-color: #1e1e1e;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    padding: 10px;
    width: 100%;
    overflow-y: hidden;
}

.multi-select option {
    background-color: #2d2d2d;
    color: #fff;
}

.multi-select option:checked {
    background-color: #db1a5a;
}

select option:checked {
    background-color: #db1a5a; /* Color de fondo personalizado */
    color: #fff; /* Color del texto personalizado */
  }
.container-btn {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
}
.container-add-project form {
    padding: 40px 0px;
}
.container-add-project form input {
    margin: 20px 0px;
}
select.multi-select {
    margin: 20px 0px;
}
.container.container-add-project form p {
    margin-top: -10px;
    margin-bottom: 20px;
}
.spinner-icon {
    animation: spin 1s infinite linear;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}