/* Inter Bold */
@font-face {
    font-family: 'Inter';
    src: url('../src/assets/fonts/Inter-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
  
  /* Inter Semi Bold */
  @font-face {
    font-family: 'Inter';
    src: url('../src/assets/fonts/Inter-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
  
  /* Inter Medium */
  @font-face {
    font-family: 'Inter';
    src: url('../src/assets/fonts/Inter-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
  
  /* Inter Regular */
  @font-face {
    font-family: 'Inter';
    src: url('../src/assets/fonts/Inter-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
  
  /* Inter Light */
  @font-face {
    font-family: 'Inter';
    src: url('../src/assets/fonts/Inter-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

.panel header{
    border-bottom: 1px solid hsla(0, 0%, 100%, .08);
    background: hsla(0, 0%, 100%, .01);
}

.panel *,
.login *{
    font-family: Inter;
}

.panel-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 1rem;
}

.brand-box{
    display: flex;
    align-items: center;
}

.brand-box img{
    width: 2.3rem;
}

.admin-batch{
    background: #424248;
    padding: .7rem 1rem;
    border-radius: 1.4rem;
    text-transform: uppercase;
    font-size: .8rem;
    letter-spacing: 1px;
    margin-left: 2rem;
}

.panel-btn{
    padding: .7rem 1.2rem;
    background-color: #db1a5a;
    border-radius: .6rem;
    font-weight: 500;
}

.nav-content{
    display: flex;
    align-items: center;
}

#panel-intro .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.panel h2{
    font-size: 3rem;
}

#panel-intro{
    border-bottom: 1px solid hsl(0deg 0.10% 97.59% / 8%);
    background-color: #232323fc;
}

.panel main h2{
    font-size: 1rem;
    font-weight: 400;
    margin-block: 2rem;
}

#panel-projects ul{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
    gap: 2rem;
}

#panel-projects li{
    padding: 2rem;
    border-radius: 1rem;
    border: 1px solid hsl(0deg 0.10% 97.59% / 8%);;
}

#panel-projects h3{
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 300;
    font-size: 1.3rem;
    z-index: 9;
}

#panel-projects li{
    display: flex;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
}

#panel-projects .icons-wrapper{
    display: flex;
    gap: 1rem;
    padding-top: 7rem;
}

#panel-projects .icons-wrapper svg{
    width: 1.6rem;
    stroke-width: 1.3px;
}

.card-bg{
    position: absolute;
    right: -1rem;
    top: -1rem;
    position: absolute;
    left: -1rem;
    top: -1rem;
    z-index: 0;
    filter: blur(50px);
}

.card-bg div{
    width: 8rem;
    height: 8rem;
    border-radius: 50%;    
}


/* Light MODE */

.light .card-bg div{
    filter: brightness(2);
}

.light .panel-nav img{
    filter: invert(1);
  }
  
.light .panel header{
    border-bottom: 1px solid hsl(0deg 0.03% 14.59% / 8%);
}

.light #panel-intro,
.light #panel-projects li{
    background-color: #e1e1e1fc;
}
